@{
    ViewBag.Title = "Contact";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    OTheatinerstraße 8, <br />
    80333 München,<br />
    Germany<br />
    <abbr title="Phone">P:</abbr>
    +49 89 462585541
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@example.com">info@example.com</a><br />

</address>